<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @game.filename %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @game.content_type %>
</p>

<%= link_to 'Download', {controller: "games", action: "download", id: @game} %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
